4110E224 艾綺絲


Python for loops.

Loop through the letters in the word "Notebook":

In [ ]:
for x in "Notebook":
  print(x)

N
o
t
e
b
o
o
k

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
supplies = ["Notebook", "Pencil", "Calculator"]
for x in supplies:
  print(x)
  if x == "Notebook":
    break

Notebook

Exit the loop when x is "Pencil":

In [ ]:
supplies = ["Notebook", "Pencil", "Calculator"]
for x in supplies:
  print(x)
  if x == "Pencil":
    break
    print(x)

Notebook
Pencil

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
supplies = ["Notebook", "Pencil", "Calculator"]
for x in supplies:
  print(x)
  if x == "Pencil":
    continue
    print(x)

Notebook
Pencil
Calculator

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(33):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

Using the start parameter:

In [ ]:
for x in range(33, 44):
  print(x)

33
34
35
36
37
38
39
40
41
42
43

Increment the sequence with 3 (default is 1):

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Print all numbers from 0 to 33, and print a message when the loop has ended:

In [ ]:
for x in range(33):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
Finally finished!

Break the loop when x is 12, and see what happens with the else block:

In [ ]:
for x in range(33):
  if x == 12: break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
9
10
11

Print each adjective for every country:

In [ ]:
adj = ["Thick", "Colorful", "Cheap"]
supplies = ["Notebook", "Pencil", "Calculator"]

for x in adj:
  for y in supplies:
    print(x, y)

Thick Notebook
Thick Pencil
Thick Calculator
Colorful Notebook
Colorful Pencil
Colorful Calculator
Cheap Notebook
Cheap Pencil
Cheap Calculator

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [13, 23, 33]:
  pass